@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-destaque: 'Passion One', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-poema: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    min-height: 350px;
    text-align: center;
    
    
}

header h1 {
    padding: 50px 0px 10px 0px;
    font-family: var(--fonte-destaque);
    font-size: 8em;
    font-weight: normal;
    
    
}

header p {
    font-size: 1.4em;
    font-family: var(--fonte-padrao);
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

header a :hover {
    text-decoration: underline;
}

p {
    padding: 20px 0px 20px 30px;
    font-family: var(--fonte-poema);
    font-size: 31px;
    
}

#container {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    height: 60vh;
    
    position: relative;
}

#conteudo {
    background-color: rgba(0, 0, 0, 0.404);
    width: 420px;
    color: white;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}


